<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
</head>
<body>
    <div>
        <h1> URL Shrinker </h1>
        <form action="/shortUrls" method="POST">
                <label for="fullURL">URL</label>
                <input type="url" name="fullURL" id="fullURL">
                <button type="submit">Chop Chop</button>
        </form>
        <table class="table table-striped table responsive">
                <thead>
                    <th>Your URL</th>
                    <th>Shrinked URL</th>
                    <th>Number of Clicks</th>
                </thead>
                <tbody>
                    <% shortURLs.forEach(shortURL => { %> 
                        <tr>
                            <td><a href=" <%= shortURL.full %> "> <%= shortURL.full %> </a></td>
                            <td><a href="<%= shortURL.short %>"  target="_blank"> <%= shortURL.short %> </a></td>
                            <td> <%= shortURL.clicks %></td>
                        </tr>
                    <% }) %> 
                    
                </tbody>
        </table>
    </div>
</body>
</html>